#home {
  color: #ffffff;
  height: calc(100vh - 80px);
  position: relative;
  .middle {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-25%);
    .home-link-wrap {
      text-align: right;
      #home-link {
        color: #fff;
        font-size: 1.5em;
        text-decoration-line: underline;
      }
    }
    .descr-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      p {
        width: 100%;
        margin: 10px 0;
      }
      .descr-title {
        text-align: left;
        font-size: 2em;
      }
      .descr {
        font-size: 1.5em;
        max-width: 500px;
      }
    }
  }
}
